## 기본 형식

In [3]:
for v1 in range(10): # range 값 0 ~ n - 1 까지 반복
    print('v1 is :', v1)

v1 is : 0
v1 is : 1
v1 is : 2
v1 is : 3
v1 is : 4
v1 is : 5
v1 is : 6
v1 is : 7
v1 is : 8
v1 is : 9

In [4]:
for v2 in range(1, 11):
    print('v2 is :', v2)

v2 is : 1
v2 is : 2
v2 is : 3
v2 is : 4
v2 is : 5
v2 is : 6
v2 is : 7
v2 is : 8
v2 is : 9
v2 is : 10

In [6]:
for v3 in range(1, 11, 2): # 1 부터 10까지 2칸씩 뛰어서
    print('v3 is :', v3)

v3 is : 1
v3 is : 3
v3 is : 5
v3 is : 7
v3 is : 9

## 1~ 1000 합

In [7]:
sum1 = 0

In [17]:
# 4의 배수만 뽑기
for v in range(4, 1001, 4):
    print(v)
    sum1 += v

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100
104
108
112
116
120
124
128
132
136
140
144
148
152
156
160
164
168
172
176
180
184
188
192
196
200
204
208
212
216
220
224
228
232
236
240
244
248
252
256
260
264
268
272
276
280
284
288
292
296
300
304
308
312
316
320
324
328
332
336
340
344
348
352
356
360
364
368
372
376
380
384
388
392
396
400
404
408
412
416
420
424
428
432
436
440
444
448
452
456
460
464
468
472
476
480
484
488
492
496
500
504
508
512
516
520
524
528
532
536
540
544
548
552
556
560
564
568
572
576
580
584
588
592
596
600
604
608
612
616
620
624
628
632
636
640
644
648
652
656
660
664
668
672
676
680
684
688
692
696
700
704
708
712
716
720
724
728
732
736
740
744
748
752
756
760
764
768
772
776
780
784
788
792
796
800
804
808
812
816
820
824
828
832
836
840
844
848
852
856
860
864
868
872
876
880
884
888
892
896
900
904
908
912
916
920
924
928
932
936
940
944
948
952
956
960
964
968
972
976
980
984
988
992
996
1000

In [12]:
print('1 ~ 1000 sum :', sum(range(1, 1001)))
print('1 ~ 1000 4의 배수의 합: ', sum(range(4, 1001, 4)))

1 ~ 1000 sum : 500500
1 ~ 1000 4의 배수의 합:  125500

- 예제 1

In [18]:
names = ['Kim', 'Park', 'Cho', 'Lee', 'Choi', 'Yoo']

for n in names: # 리스트의 값 하나하나씩 반복함
    print('You are :', n)

You are : Kim
You are : Park
You are : Cho
You are : Lee
You are : Choi
You are : Yoo

- 예제 2

In [21]:
lotto_numbers = [11, 19, 21, 28, 36, 37]

for n in lotto_numbers:
    print("Current number :", n)

Current number : 11
Current number : 19
Current number : 21
Current number : 28
Current number : 36
Current number : 37

- 예제 3

In [23]:
word = 'Beautiful'

In [24]:
for s in word:
    print('word :', s)

word : B
word : e
word : a
word : u
word : t
word : i
word : f
word : u
word : l

- 예제 4

In [25]:
my_info = {
    'name' : 'Lee',
    'Age' : 33,
    'City': 'Seoul'
}

In [28]:
for key in my_info:
    print('key :', key)
    print('key :', my_info[key]) # Value 값

key : name
key : Lee
key : Age
key : 33
key : City
key : Seoul

In [29]:
for v in my_info.values():
    print('value :', v)

value : Lee
value : 33
value : Seoul

- 예제 5

In [31]:
name = 'FineAppLE'

In [33]:
for n in name:
    if n.isupper():
        print(n)
    else:
        print(n.upper())

F
I
N
E
A
P
P
L
E

## break

In [34]:
numbers = [14, 3, 4, 7, 10, 24, 17, 2, 33, 15, 34, 36, 38]

In [35]:
for num in numbers:
    if num == 34:
        print('Found : 34!')
        break
    else:
        print('Not Found :', num)

Not Found : 14
Not Found : 3
Not Found : 4
Not Found : 7
Not Found : 10
Not Found : 24
Not Found : 17
Not Found : 2
Not Found : 33
Not Found : 15
Found : 34!

## continue

In [36]:
a = ['1', 2, 5, True, 4.3, complex(4)]

In [37]:
for v in a:
    if type(v) is bool: #bool 형은 건너뛴다.
        continue
    print('current type:', v, type(v))
    print('multiply by 2', v * 3)

current type: 1 <class 'str'>
multiply by 2 111
current type: 2 <class 'int'>
multiply by 2 6
current type: 5 <class 'int'>
multiply by 2 15
current type: 4.3 <class 'float'>
multiply by 2 12.899999999999999
current type: (4+0j) <class 'complex'>
multiply by 2 (12+0j)

## for - else
- 끝까지 찾았는데 없으면 for문의 최종 실행 단계라고 보면 됨

In [45]:
numbers = [14, 3, 4, 7, 10, 24, 17, 2, 33, 15, 34, 36, 38]

In [46]:
for num in numbers:
    if num == 24:
        print('Found : 24!')
        break
else:
    print('Not Found : 24!')

Found : 24!

## 구구단 출력

In [47]:
for i in range(2, 10):
    for j in range(1, 10):
        print('{:4d}'.format(i * j), end = "")
    print()

   2   4   6   8  10  12  14  16  18
   3   6   9  12  15  18  21  24  27
   4   8  12  16  20  24  28  32  36
   5  10  15  20  25  30  35  40  45
   6  12  18  24  30  36  42  48  54
   7  14  21  28  35  42  49  56  63
   8  16  24  32  40  48  56  64  72
   9  18  27  36  45  54  63  72  81

## 변환 예제

In [49]:
name2 = 'Aceman'

In [50]:
print('Reversed', reversed(name2))
print('list', list(reversed(name2)))
print('tuple', tuple(reversed(name2)))
print('set', set(reversed(name2)))

Reversed <reversed object at 0x000001EE4B80C550>
list ['n', 'a', 'm', 'e', 'c', 'A']
tuple ('n', 'a', 'm', 'e', 'c', 'A')
set {'e', 'm', 'a', 'n', 'c', 'A'}