## input 사용법
### 기본 타입(str)

- 예제 1

In [3]:
name = input("Enter Your Name :")
grade = input("Enter Your Grade :")
company = input("Enter Your Company name :")\

Enter Your Name :김동현
Enter Your Grade :3
Enter Your Company name :한국

- 예제 2

In [5]:
number = input("Enter number: ")
name = input("Enter name: ")
print("type of number", type(number))
print("type of name", type(name))

Enter number: 01091608950
Enter name: 김동현
type of number <class 'str'>
type of name <class 'str'>

- 예제 3 (계산)

In [7]:
# int 형으로 형 변환을 해준다.
first_number = int(input("Enter number1 : "))
second_number = int(input("Enter number2 : "))
total = first_number + second_number
print("first_number + second_number : ", total)
print(type(total))

Enter number1 : 1234
Enter number2 : 5678
first_number + second_number :  6912
<class 'int'>

- 예제 4

In [8]:
float_number = float(input("Enter a float number : "))
print("input float :", float_number)
print("input type :", type(float_number))

Enter a float number : 123.12345
input float : 123.12345
input type : <class 'float'>

- 예제 5

In [10]:
print("FirstName - {0}, LastName = {1}".format(input("Enter first name : "), input("Enter second name : ")))

Enter first name : 김동현
Enter second name : 정서영
FirstName - 김동현, LastName = 정서영