## 파이썬 딕셔너리
## 범용적으로 가장 많이 사용 (JSON)
## 딕셔너리 자료형(순서x, 키 중복x, 수정o, 삭제o)

- 선언

In [1]:
a = {'name': 'Kim', 'Phone': '01033337777', 'Birth': '870514'}
b = {0: 'Hello Python'}
c = {'arr': [1, 2, 3, 4]}
d = {
    'Name': 'Niceman',
    'City': 'Seoul',
    'Age': 33,
    'Grade': 'A',
    'Status': True
}
e = dict([
    ('Name', 'Niceman'),
    ('City', 'Seoul'),
    ('Age', 33),
    ('Grade', 'A'),
    ('Status', True)
])

f = dict(
    Name= 'Niceman',
    City= 'Seoul',
    Age= 33,
    Grade= 'A',
    Status= True
)

In [2]:
print('a -', type(a), a)
print('b -', type(b), b)
print('c -', type(c), c)
print('d -', type(d), d)
print('e -', type(e), e)
print('f -', type(f), f)

a - <class 'dict'> {'name': 'Kim', 'Phone': '01033337777', 'Birth': '870514'}
b - <class 'dict'> {0: 'Hello Python'}
c - <class 'dict'> {'arr': [1, 2, 3, 4]}
d - <class 'dict'> {'Name': 'Niceman', 'City': 'Seoul', 'Age': 33, 'Grade': 'A', 'Status': True}
e - <class 'dict'> {'Name': 'Niceman', 'City': 'Seoul', 'Age': 33, 'Grade': 'A', 'Status': True}
f - <class 'dict'> {'Name': 'Niceman', 'City': 'Seoul', 'Age': 33, 'Grade': 'A', 'Status': True}

- 출력

In [3]:
print('a -', a['name'])
print('a -', a.get('name')) #키가 없으면 None 으로 나오면서 에러가 나오지 않음
print('b -', b[0])
print('b -', b.get(0))
print('f -', f.get('City'))
print('f -', f.get('Age'))

a - Kim
a - Kim
b - Hello Python
b - Hello Python
f - Seoul
f - 33

- 딕셔너리 추가

In [4]:
a['Address'] = 'Seoul'
print('a- ', a)
a['Rank'] = [1,2,3]
print('a -', a)

a-  {'name': 'Kim', 'Phone': '01033337777', 'Birth': '870514', 'Address': 'Seoul'}
a - {'name': 'Kim', 'Phone': '01033337777', 'Birth': '870514', 'Address': 'Seoul', 'Rank': [1, 2, 3]}

- 딕셔너리 길이

In [5]:
# 딕셔너리 길이
print('a -', len(a))
print('b -', len(b))
print('c -', len(c))
print('d -', len(d))
print('e -', len(e))

a - 5
b - 1
c - 1
d - 5
e - 5

- 딕셔너리 key값

In [10]:
print('a -', a.keys())
print('b -', b.keys())
print('c -', c.keys())
print('d -', d.keys())
print('a -', list(a.keys())) # 리스트로 담아옴
print('b -', list(b.keys()))

a - dict_keys(['name', 'Phone', 'Birth', 'Address', 'Rank'])
b - dict_keys([0])
c - dict_keys(['arr'])
d - dict_keys(['Name', 'City', 'Age', 'Grade', 'Status'])
a - ['name', 'Phone', 'Birth', 'Address', 'Rank']
b - [0]

- 딕셔너리 value값

In [11]:
print('a -', a.values())
print('b -', b.values())
print('c -', c.values())
print('a -', list(a.values()))
print('a -', list(a.values()))

a - dict_values(['Kim', '01033337777', '870514', 'Seoul', [1, 2, 3]])
b - dict_values(['Hello Python'])
c - dict_values([[1, 2, 3, 4]])
a - ['Kim', '01033337777', '870514', 'Seoul', [1, 2, 3]]
a - ['Kim', '01033337777', '870514', 'Seoul', [1, 2, 3]]

- items 함수 = key, value 값 다 가져옴

In [13]:
print('a -', a.items())
print('b -', b.items())
print('c -', c.items())

a - dict_items([('name', 'Kim'), ('Phone', '01033337777'), ('Birth', '870514'), ('Address', 'Seoul'), ('Rank', [1, 2, 3])])
b - dict_items([(0, 'Hello Python')])
c - dict_items([('arr', [1, 2, 3, 4])])

In [15]:
# 리스트의 형태로 가져옴
print('a -', list(a.items()))
print('b -', list(b.items()))

a - [('name', 'Kim'), ('Phone', '01033337777'), ('Birth', '870514'), ('Address', 'Seoul'), ('Rank', [1, 2, 3])]
b - [(0, 'Hello Python')]

- pop 함수를 통해 삭제하기 , popitem 함수는 무작위로 삭제

In [16]:
print('a -', a.pop('name'))
print('a -', a)


print('c -', c.pop('arr'))
print('c -', c)

a - Kim
a - {'Phone': '01033337777', 'Birth': '870514', 'Address': 'Seoul', 'Rank': [1, 2, 3]}
c - [1, 2, 3, 4]
c - {}

- a 안에 birth가 있어?

In [18]:
print('a -', 'Birth' in a)
print('d -', 'City' in d)

a - True
d - True

- 수정

In [21]:
a['test'] = 'test_dict'
print('a -', a)

a - {'Phone': '01033337777', 'Birth': '870514', 'Address': 'Seoul', 'Rank': [1, 2, 3], 'test': 'test_dict'}

In [24]:
a.update(Birth='971024')
print('a- ', a)

a-  {'Phone': '01033337777', 'Birth': '971024', 'Address': 'Busan', 'Rank': [1, 2, 3], 'test': 'test_dict'}

In [25]:
temp = {'Address': 'Busan'}
a.update(temp)
print('a -', a)

a - {'Phone': '01033337777', 'Birth': '971024', 'Address': 'Busan', 'Rank': [1, 2, 3], 'test': 'test_dict'}